@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
header{
	background-color: #00849E;
}

.inline-block{
	display: inline-block;
	vertical-align: bottom;
	color: white;
	padding: 1%;
	
}

.logo{
    width: 5%;
}

nav {
	width: 73%;
	padding: 1%;
}

ul {
	width: 50%;
	margin-left: auto;
	
}

.heroImg {
	height: 700px;
	padding: 35px;
}

.contact {
	width: 55%;
	height:400px;
	margin: 200px 0 0 400px;
	background-color: #F7EEEF;
	padding: 20px;
	border-width:2px;
	border-color: #9F2937;
	border-style:solid;
	position: absolute;
	z-index: -4;
}
.hobbies {
	width: 55%;
	height:400px;
	margin: 150px 50px 0 340px;
	background-color: #F4F7EC;
	padding: 20px;
	border-width:2px;
	border-color: #719D13;
	border-style:solid;
	position: absolute;
	z-index: -3;
}
.skills {
	width: 55%;
	height:400px;
	margin: 100px 0 0 280px;
	background-color: #F7F0FF;
	padding: 20px;
	border-width:2px;
	border-color: #9747FF;
	border-style:solid;
	position: absolute;
	z-index: -2;
}
.education {
	width: 55%;
	height:400px;
	margin: 50px 0 0 220px;
	background-color: #ffffff;
	padding: 20px;
	border-width:2px;
	border-color: #C27320;
	border-style:solid;
	position: absolute;
	z-index: -1;
}
.iam {
	width: 52%;
	height:340px;
	margin: 0 0 0 150px;
	background-color: #EBF5F7;
	border-width:2px;
	border-color: #00849E;
	border-style:solid;
	position: absolute;
	z-index: 0;
	padding:50px;
}
img {
	float: right;
}
.photo{
	height:340px;
	width:40%;
}
.hello {	
	font-family: 'Great Vibes', cursive;
	font-size:30px;
	text-align: justify;
	margin:0 400px 0 0;
}

#text1, #text2, #text3, #text4{
	writing-mode: vertical-rl;
	text-align: right;
	padding: 150px 0 0 875px;
	font-family: Arial;
	font-size:25px;
	color: #9F2937;
}
#text2{
	color: #719D13;
}
#text3{
	color: #9747FF;
}
#text4{
	color: #C27320;
}
#text41{
	font-family: Arial;
	color: #C27320;
	font-size:25px;
	margin-top:80px;
	text-align: center;
}
#text31{
	font-family: Arial;
	color: #9747FF;
	font-size:25px;
	margin-top:130px;
	text-align: center;
}
#text21{
	font-family: Arial;
	color: #719D13;
	font-size:25px;
	margin-top:100px;
	text-align: center;
}
#text11{
	font-family: Arial;
	color: #9F2937;
	font-size:25px;
	margin-top:100px;
	text-align: center;
}
footer {
	background-color: #00849E;
	padding: 1%;
}
