@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

header{
	background-color: #00849E;
	padding:10px;
	width:100%;
	height:150px;
}

.inline-bl{
	color: white;
	text-align: right;
	margin:1%;
}

.inline-bl li {
	list-style: none;
	display: inline;
	padding:20px;
	font-size: 20px;
}

.inline-bl a{
	outline: none;
	text-decoration: none;
	color:white;
}

#SV a{
	text-decoration: none;
	color:white;
}

#SV:hover {
	rotate: z -10deg;
}

.inline-logo{
	float:left;
	margin:10px 0 10px 30px;
}

.photo{
	height: 380px;
	width: 48%;
	float: right;
}

footer {
	background-color: #00849E;
	padding: 1%;
	width:100%;
	height: 100%;
}

div {
    text-align: center;
}

div ul {
    display: inline-block;
	color: white;
}

div li {
    float:left;
	display: inline;
	padding:30px;
}

.bring-into-focus {
    transform: scale(1.4);
}




				/*According*/

 
article.accordion{
	display: block;
	width: 69em;
	margin: 0 auto;
	background-color: #00849E;
	overflow: auto;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

article.accordion section{
	position: relative;
	display: block;
	float: left;
	width: 2em;
	height: 38em;
	margin: 0.5em 0 0.5em 0.5em;
	color: #333;
	background-color: #333;
	overflow: hidden;
	border-radius: 3px;
}

article.accordion section h2{
	position: absolute;
	font-size: 1em;
	font-weight: bold;
	width: 12em;
	height: 2em;
	top: 12em;
	left: 0;
	text-indent: 1em;
	padding: 0;
	margin: 0;
	color: #ddd;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

article.accordion section h2 a{
	display: block;
	width: 100%;
	line-height: 2em;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

article.accordion section:target{
	width: 55em;
	padding: 0 1em;
	color: #333;
	background-color: #fff;
}

article.accordion section:target h2{
	position: static;
	font-size: 2em;
	text-indent: 0;
	color: #00849E;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

article.accordion section,
article.accordion section h2{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.wrap{
	padding: 3%;
}

.wrapText{
	margin: 4%;
	text-align: left;
	font-size: 1.1em;
}

.wrapTextS{
	margin: 10% 4%;
	text-align: left;
	font-size: 1.1em;
}

.hello{

	margin-right:450px;
	font-family: 'Solitreo', cursive;
	font-size:22px;
	text-align: justify;
}